{% extends 'base_generic.html' %}

{% load crispy_forms_tags %}

{%block content%}
<div id="fh5co-event" class="fh5co-bg" style="background-image:url(https://images.unsplash.com/photo-1586661615438-349a276d098b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bG9ja3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);">

		<div class="container">
            <div class="row">
                
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Introduce la contraseña</h2>
				</div>
                
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					
				</div>
			</div>
                <form method='get' class="confirmation-form animate-box" autocomplete="nope">
                {% csrf_token %}
                    <label for="Password">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="password" aria-describedby="passHelp" placeholder="Introduce la contraseña">
                    <small id="emailHelp" class="form-text text-muted">Introduce la contraseña de acceso</small>
                    <input class='btn btn-primary btn-lg btn-block' type="submit" value='Acceder al sitio web'/>
                </form>
        </div>
</div>
{% endblock %}